:root {
    --theme: rgb(96, 150, 186);
}

body{
    background: #040f50;
}

/* Changes on Login Form Interface */
/* Version 2 changes */

/* Login Form */

.login-form {
    border: 1px solid var(--theme);
    border-radius: 12px;
}

/* Login Form Header */

.login-form-header {
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-info > i {
    color: var(--theme);
    font-size: 4.8rem;
}

.form-info > span[class="h3"] {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.form-info + .close-btn {
    justify-self: center;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
}

.close-btn > i {
    color: var(--theme);
}

/* Login Form Body */

.mb-4 > input[type="email"], .mb-4 > input[type="password"] {
    box-shadow: 3px 6px 7px 1px rgb(210, 210, 210);
}

.mb-3 > .login-btn {
    border-radius: 200px;
    width: 150px;
    padding: 6px;
}